* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  
}
nav {
  background-color: rgb(11, 38, 112);
  overflow: hidden;
}
ul{
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}
li {
  float: left;
    }

    a {
      padding: 14px 16px;
      display: block;
      text-decoration: none;
      color: rgb(7, 7, 7);
      background-color: rgb(133, 176, 216);
      font-weight: bold;
    }
    a:hover{
      background-color: gray;
    }