* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
ul {
    
   
}
nav {
    background-color: rgb(11, 38, 112);
    /* Adjust height as needed */
    display: flex; /* Use flexbox for nav */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px;
   
    
}
 li {
    display: inline;
   
      }

      a {
        text-decoration: none;
        color: rgb(7, 7, 7);
        background-color: rgb(133, 176, 216);
        font-size: 15px;
        font-weight: bold;
      }