* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  background-color: rgb(133, 176, 216);
  /* Add this */
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
li {
  /* float: inline-start; */
  /* Remove float & add display */
  display: inline-block;
    }

    a {
      padding: 10px 10px;
      display: block;
      text-decoration: none;
      color: rgb(7, 7, 7);
      background-color: rgb(133, 176, 216);
      font-weight: bold;
    }
    a:hover{
      background-color: gray;
    }